<div class="box-viewTodo">
  <div class="search-box">
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterTodoList()"
    />
  </div>

  <div class="box-viewTodo">
    <table class="tablebox">
      <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of filteredTodoList">
          <td>{{ todo.id }}</td>
          <td
            [ngStyle]="{
              'text-decoration':
                todo.status === 'Completed' ? 'line-through' : 'none'
            }"
          >
            {{ todo.description }}
          </td>
          <td
            [ngStyle]="{
              color: todo.status === 'Pending' ? 'orange' : 'green'
            }"
          >
            {{ todo.status }}
          </td>
          <td>
            <app-shared-button
              [label]="'Update'"
              (onClickEvent)="updateUser(todo.id)"
              [customClass]="'btn'"

            />
          </td>
          <td>
            <app-shared-button
            [isDeleteButton]="true"
              [label]="'Delete'"
              (onClickEvent)="ondelete(todo.id)"
              [customClass]="'btn btn-danger'"
            />
            <!-- <button class="btn-delete" (click)="ondelete(todo.id)">
              Delete
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
