<div class="box-viewTodo">
  <div class="search-box">

    <app-shared-input [placeholder]="this.buttonLabel.SEARCH" [(modelValue)]="searchTerm"/>
  </div>

  <div
    class="box-viewTodo"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="loadMoreUsers()"
  >
    <table class="tablebox">
      <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of (listOfTodo | async | todoSearchFilter:searchTerm)">
          <td>{{ todo.id }}</td>
          <td
            [ngStyle]="{
              'text-decoration':
                todo.status === 'Completed' ? 'line-through' : 'none'
            }"
          >
            {{ todo.description }}
          </td>
          <td
            [ngStyle]="{
              color: todo.status === 'Pending' ? 'orange' : 'green'
            }"
          >
            {{ todo.status }}
          </td>
          <td>
            <app-shared-button
              [label]="buttonLabel.Update"
              (onClickEvent)="updateUser(todo.id)"
              [customClass]="'btn'"
            />
          </td>
          <td>
            <app-shared-button
              [isDeleteButton]="true"
              [label]="buttonLabel.Delete"
              (onClickEvent)="ondelete(todo.id)"
              [customClass]="'btn btn-danger'"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
