/* You can add global styles to this file, and also import other style files */
@mixin commonButton($color){
    width: 100%;
  padding: 10px;
  background-color: $color;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
};