@mixin commonButton($color) {
  padding: 8px 16px;
  background-color: $color;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  min-width: 120px;
  transition: background-color 0.3s ease;
  margin: 20px;
  width: auto;
}


.btn-group {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-bottom: 2px dashed #ccc;
}


.box {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.box-viewTodo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.box-viewTodo div {
  margin-top: 20px auto;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}


.tablebox {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #f4f6db;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.tablebox th {
  padding: 10px 12px;
  text-align: center;
  font-weight: bold;
}

.tablebox td {
  padding: 10px 12px;
  border-bottom: 1px solid #ccc;
}

.tablebox tr:nth-child(even) {
  background-color: #edf7f4;
}

.tablebox tr:hover {
  background-color: #d7f0ea;
}

.search-box input[type="text"] {
  width: 300px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}